.container {
  display: flex;
  gap: 10px;
  align-items: center;
  
}
button {
  border-radius: 50%;
  width: 50px;
  height:50px; ;
  color: wheat;
  background: black;
}

button:nth-child(1) {
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background: rgb(241, 193, 0);
}
button:nth-child(2) {
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background: rgb(89, 219, 60);
}
button:nth-child(3) {
  background: rgb(50, 67, 255);
  color: rgb(255, 255, 255);

}

.giallo{
  color: rgb(241, 193, 0);
}
.verde{
  color:rgb(89, 219, 60);
}
.blu{
  color: rgb(50, 67, 255);;
}

